body {
    font-family: 'BodyText';
    background: rgba(235, 137, 66, 1);
    color: rgba(41, 41, 41, 1);
}

h2 {
    text-align: center;
    font-size: 1.5em;
    font-family: 'BoldText';
}

h1 {
    font-family: 'TitleText';
    font-size: 2em;
}

/* -- Header -- */
header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 3.75em;
    display: grid;
}

#headLogo {
    background-color: rgba(235, 235, 235, 1);
    margin-left: .5em;
    height: 3.25em;
}

.head {
    align-self: center;
}

nav li {
    display: inline;
}

/* -- Banner -- */
#banner {
    position: relative;
    top: 4.35em;
    margin: 0 .625em;
}

#bannerImg {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template: 15% 70% 15% / 15% 70% 15%;
}

#bannerLogo {
    position: relative;
    background-color: rgba(235, 235, 235, 1);
    padding: 1em;
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
    align-self: center;
}

/* -- Center -- */
#center {
    position: relative;
    top: 4.5em;
    margin: .625em;
}

.container {
    border: .15em solid rgba(51, 51, 51, .5);
}

#welcome {
    background-color: rgba(255, 228, 92, 1);
    grid-template-rows: 16% 42% 42%;
    padding: .6em;
}

#welcome img {
    display: block;
    margin: 1em auto;
    width: 70%;
}

#productList {
    background-color: rgba(211, 235, 124, 1);
    display: grid;
    text-align: center;
    align-items: center;
    height: 25em;
    padding: .25em;
}

#productList h2 {
    grid-column: 1 / span 7;
}

#productList h3 {
    font-size: 1.25em;
    font-family: 'SemiBoldText';
}

#productList img {
    margin-top: .25em;
    height: 100%;
    justify-self: center;
}

/* -- Employee -- */
#employeeSection {
    position: relative;
    top: 5.5em;
    margin: .625em;
    border: .15em solid rgba(51, 51, 51, .5);
    padding: .6em;
    background-color: rgba(211, 235, 124, 1);
}

#employeeContainer {
    display: grid;
    grid-template: 1em 11em 1em 3em/ repeat(3, .5fr 5fr) .5fr;
}

 #employeeContainer img {
        justify-self: center;
    }

#employeeContainer h3 {
    font-family: 'SemiBoldText';
}

.employeeText {
        font-size: 1.4em;
    }

/* -- Contact -- */
#contact {
    position: relative;
    top: 6em;
    margin: 0 .625em 1em;
    height: 15em;
}

#contactImg {
    background-image: url(../img/contact.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 16em;
}

#contactText {
    position: relative;
    bottom: 6.5em;
    background-color: rgba(51, 51, 51, .7);
    color: rgba(235, 235, 235, 1);
    text-align: center;
    font-size: 2.25em;
    padding: .25em;
    margin: 1em 5em;
}

#contactText h1 {
    font-size: 1.5em;
}

#contactText p {
    font-family: 'TitleText';
    color: rgba(211, 235, 124, 1);
    font-size: .75em;
    margin-top: .5em;
}

/* -- Footer -- */

footer {
    position: relative;
    top: 7em;
    display: flex;
    overflow: hidden;
    border-top: .15em solid rgba(51, 51, 51, .8);
    padding: 1em .5em 1em;
    margin: 0 .625em;
}

#copyright p {
    position: relative;
    width: 400px;
}

#termsAndPrivacy {
    position: relative;
    text-align: right;
    width: 100%;
}

#termsAndPrivacy a {
    color: rgba(41, 41, 41, 1);
}

#termsAndPrivacy li {
    display: inline;
    padding: .5em;
}

/*-----------------Desktop-----------------*/

@media only screen and (min-width: 850px) {

    /* -- Desktop Header -- */
    header {
        grid-template: 100% / 6% 1fr 1.5fr;
        border-bottom: .0625em solid rgba(235, 235, 235, 1);
        background-color: rgba(51, 51, 51, 1);
        color: rgba(235, 235, 235, 1);
    }

    #mobileNav {
        display: none;
    }

    header h1 {
        font-size: 2.25em;
        margin-left: .25em;
    }

    header a {
        color: rgba(255, 245, 238, 1);
        font-size: 1.1em;
    }

    nav {
        text-align: right;
        margin-right: .5em;
    }

    nav li {
        padding: .625em;
    }

    /* -- Desktop Banner -- */
    #banner {
        height: 25em;
    }

    #bannerImg {
        height: 25em;
    }

    #bannerLogo {
        width: 30%;
    }

    /* -- Desktop Center -- */
    #center {
        display: grid;
        grid-template-columns: 40% 59.5%;
        grid-gap: .5em;
        height: 25em;
    }

    #welcome img {
        width: 70%;
    }

    #welcome p {
        font-size: 1.2em
    }

    #productList {
        grid-template: 10% 1% 17% 1% 25% 1% 15% 1% 25% / repeat(3, 2% 30%) 2%;
        height: 25em;
    }

    #productList h2 {
        grid-column: 1 / span 7;
    }

    #productList h3 {
        font-size: 1.25em;
        font-family: 'SemiBoldText';
    }

    #productList img {
        margin-top: .25em;
        height: 100%;
        justify-self: center;
    }

    .food1 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .food1Img {
        grid-area: 5 / 2 / 6 / 3;
    }

    .food2 {
        grid-area: 3 / 4 / 4 / 5;
    }

    .food2Img {
        grid-area: 5 / 4 / 6 / 5;
    }

    .food5 {
        grid-area: 3 / 6 / 4 / 7;
    }

    .food5Img {
        grid-area: 5 / 6 / 6 / 7;
    }

    .food3 {
        grid-area: 7 / 2 / 8 / 3;
    }

    .food3Img {
        grid-area: 9 / 2 / 10 / 3;
    }

    .food4 {
        grid-area: 7 / 4 / 8 / 5;
    }

    .food4Img {
        grid-area: 9 / 4 / 10 / 5;
    }

    .food6 {
        grid-area: 7 / 6 / 8 / 7;
    }

    .food6Img {
        grid-area: 9 / 6 / 10 / 7;
    }

    /* -- Desktop About -- */
    #aboutSection {
        position: relative;
        top: 5em;
        margin: .625em;
        padding: .2em;
        background-color: rgba(51, 51, 51, 1);
        height: 27em;
    }

    #aboutImg {
        background-image: url(../img/about.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 27em;
        opacity: 70%;
    }

    #aboutContainer {
        display: grid;
        grid-template: 2.5em 1em 2em 1em 14em 1em / .5fr 5fr .5fr 8fr .5fr 5fr .5fr;
        position: relative;
        bottom: 26em;
        color: rgba(235, 235, 235, 1);
    }

    .aboutBox {
        background-color: rgba(51, 51, 51, .8);
        padding: .25em;
    }

    #aboutMainTitle {
        grid-area: 1 / 1 / 2 / span 7;
        margin: 0 15em;
        font-size: 1.5em;
        font-family: 'BoldText';
    }

    .aboutTitle {
        grid-row: 3 / 4;
        text-align: center;
        font-size: 1.4em;
        font-family: 'SemiBoldText';
    }

    .aboutText {
        grid-row: 5 / 6;
        padding: 1em;
        align-self: flex-start;
    }

    .mission {
        grid-column: 2 / 3;
    }

    #missionText {
        font-size: 1.25em;
    }

    .vision {
        grid-column: 4 / 5;
    }

    #visionText {
        font-size: 1em;
    }

    .values {
        grid-column: 6 / 7;
    }

    #valuesText li {
        text-indent: 1em;
        margin-top: .75em;
    }

    /* -- Desktop Employee -- */
    #employeeSection {
        top: 5.5em;
        background-color: rgba(211, 235, 124, 1);
    }

    #employeeContainer {
        grid-template: 1em 11em 1em 3em/ repeat(3, .5fr 5fr) .5fr;
    }

    #employeeContainer img {
        height: 11em;
        grid-row: 2 / 3;
        align-self: flex-start;
        justify-self: center;
    }

    .employeeText {
        grid-row: 4 / 5;
        text-align: center;
    }

    .owner {
        grid-column: 2 / 3;
    }

    .manager {
        grid-column: 4 / 5;
    }

    .chef {
        grid-column: 6 / 7;
    }

    /* -- Desktop Contact -- */
    #contact {
        top: 6em;
    }

    #contactText {
        bottom: 6.5em;
        font-size: 2.25em;
        padding: .25em;
        margin: 1em 5em;
    }

    /* -- Dektop Footer -- */

    footer {
        top: 7em;
        padding: 1em .5em 1em;
    }

    #termsAndPrivacy li {
        padding: .5em;
    }
}

/*-----------------Smaller Screen-----------------*/

@media only screen and (max-width: 1300px) {
    header {
        grid-template: 100% / 9% 1fr 1.5fr;
    }

    #bannerLogo {
        width: 50%;
    }

    #productList {
        grid-template: 10% 1% 17% 1% 25% 1% 15% 1% 25% / 1% 48% 1% 48% 1%;
    }

    #productList h3 {
        font-size: 1em;
    }

    .food1 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .food1Img {
        grid-area: 5 / 2 / 6 / 3;
    }

    .food2 {
        grid-area: 3 / 4 / 4 / 5;
    }

    .food2Img {
        grid-area: 5 / 4 / 6 / 5;
    }

    .food3 {
        grid-area: 7 / 2 / 8 / 3;
    }

    .food3Img {
        grid-area: 9 / 2 / 10 / 3;
    }

    .food4 {
        grid-area: 7 / 4 / 8 / 5;
    }

    .food4Img {
        grid-area: 9 / 4 / 10 / 5;
    }

    .food5,
    .food5Img,
    .food6,
    .food6Img {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    #valuesText {
        font-size: .9em;
    }

    .mission {
        font-size: 1.1em;
    }

    #chefName {
        font-size: .9em;
    }

    #aboutMainTitle {
        margin: 0 8em;
    }
}

/*-----------------Mobile-----------------*/

@media only screen and (max-width: 850px) {

    /* -- Mobile Header -- */
    header {
        grid-template: 100% / 20% 80%;
        border-bottom: .0625em solid rgba(51, 51, 51, 1);
        background-color: rgba(235, 235, 235, 1);
    }

    header h1 {
        display: none;
    }

    #desktopNav {
        display: none;
    }

    nav {
        text-align: center;
    }

    nav img {
        width: 8%;
        margin: 0 1em;
    }

    /* -- Mobile Banner -- */
    #banner {
        height: 20em;
    }

    #bannerImg {
        height: 20em;
    }

    #bannerLogo {
        width: 60%;
    }

    /* -- Mobile Center -- */
    #center {
        height: 20em;
    }

    #welcome h2 {
        font-size: 1.25em;
    }

    #welcome img {
        width: 50%;
    }

    #productList {
        position: relative;
        top: .75em;
        height: 18em;
    }

    /* -- Mobile About -- */
    #aboutSection {
        display: none;
    }

    /* -- Employee -- */
    #employeeSection {
        top: 24em;
        background-color: rgba(255, 228, 92, 1);
        height: 25em;
    }

    #employeeContainer {
        margin-top: 1em;
        grid-template: 30% 5% 30% 5% 30%/ 2% 45% 2% 45%;
    }

    #employeeContainer img {
        height: 7em;
        grid-column: 2 / 3;
    }

    .employeeText {
        grid-column: 4 / 5;
        align-self: center;
    }

    .owner {
        grid-row: 1 / 2;
    }

    .manager {
        grid-row: 3 / 4;
    }

    .chef {
        grid-row: 5 / 6;
    }

    /* -- Contact -- */
    #contact {
        top: 24em;
    }

    #contactText {
        bottom: 10em;
        font-size: 1.5em;
        padding: .5em;
        margin: 1em 3em;
    }

    /* -- Footer -- */

    footer {
        top: 25em;
        padding: 1em .25em 1em;
    }

    #termsAndPrivacy li {
        padding: .25em;
    }
}

/*-----------------Smaller Mobile-----------------*/
@media only screen and (max-width: 575px) {
    #banner {
        height: 15em;
    }

    #bannerImg {
        height: 15em;
    }

    #center {
        top: 5em;
    }

    #productList h2 {
        font-size: 1.25em;
    }

    #employeeSection {
        display: none;
    }

    #contact {
        top: 33.5em;
        font-size: .75em;
        margin: 1em;
        height: 12em;
    }

    #contactImg {
        height: 10em;
    }

    #contactText {
        bottom: 6.5em;
    }

    footer {
        top: 47em;
        font-size: .5em;
    }

    #termsAndPrivacy {
        display: none;
    }
}
